@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff'), url('../fonts/raleway-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-medium.woff2') format('woff2'), url('../fonts/raleway-medium.woff') format('woff'), url('../fonts/raleway-medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-semibold.woff2') format('woff2'), url('../fonts/raleway-semibold.woff') format('woff'), url('../fonts/raleway-semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-bold.woff2') format('woff2'), url('../fonts/raleway-bold.woff') format('woff'), url('../fonts/raleway-bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-extrabold.woff2') format('woff2'), url('../fonts/raleway-extrabold.woff') format('woff'), url('../fonts/raleway-extrabold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-regular.woff2') format('woff2'), url('../fonts/roboto-regular.woff') format('woff'), url('../fonts/roboto-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-extralight.woff2') format('woff2'), url('../fonts/montserrat-extralight.woff') format('woff'), url('../fonts/montserrat-extralight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-light.woff2') format('woff2'), url('../fonts/montserrat-light.woff') format('woff'), url('../fonts/montserrat-light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff'), url('../fonts/montserrat-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1920px;
  margin: 0 auto;
}
.header {
  min-height: 1024px;
  display: block;
  background-image: url(../img/header_bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.header-top {
  width: 100%;
  padding: 40px 0 0 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-top-logo {
  text-decoration: none;
  display: block;
  width: 181px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header-top-logo:hover .header-top-logo-icon {
  fill: #c7b299;
}
.header-top-logo:hover .header-top-logo-txt {
  color: #c7b299;
}
.header-top-logo:active .header-top-logo-icon {
  fill: #ffd700;
}
.header-top-logo:active .header-top-logo-txt {
  color: #ffd700;
}
.header-top-logo-icon {
  fill: currentColor;
}
.header-top-logo-txt {
  font-family: 'raleway', sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.header-top-menu {
  display: block;
  margin: 0 63px 0 219px;
}
.header-top-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  font-family: 'montserrat', sans-serif;
}
.header-top-menu-list-item {
  display: block;
  margin: 0 30px 0 0;
}
.header-top-menu-list-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}
.header-top-menu-list-item-link:hover {
  color: #c7b299;
}
.header-top-menu-list-item-link:active {
  color: #ffd700;
}
.header-top-menu-list-item:last-child {
  margin: 0;
}
.header-top-basket {
  outline: none;
  padding: 0;
  border: 0;
  background: transparent;
}
.header-top-basket-icon {
  fill: #fff;
}
.header-top-basket:hover .header-top-basket-icon {
  fill: #c7b299;
}
.header-top-basket:active .header-top-basket-icon {
  fill: #ffd700;
}
.header-top-search {
  margin: 0 0 0 28px;
  position: relative;
}
.header-top-search__label {
  display: block;
  width: 100%;
  height: 100%;
}
.header-top-search__icon {
  fill: #fff;
}
.header-top-search__label:hover .header-top-search__icon {
  fill: #c7b299;
}
.header-top-search__label:active .header-top-search__icon {
  fill: #ffd700;
}
.header-top-search__input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50px;
  left: -50px;
  font-size: 16px;
  color: #fff;
  font-family: 'montserrat', sans-serif;
  text-transform: capitalize;
}
.header-top-search__input:focus {
  width: 150px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
}
.header-top-search__input:focus ~ .header-top-search__label > .header-top-search__icon {
  fill: #ffd700;
}
.header-slider {
  margin: 285px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header-slider-btn {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
}
.header-slider-btn:hover .header-slider-btn__icon {
  fill: #d3c1ad ;
}
.header-slider-btn:active .header-slider-btn__icon {
  fill: #ffd700;
}
.header-slider-btn__icon {
  fill: #fff;
}
.header-slider-txt {
  margin: 0 476px 0 476px;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.header-slider-txt__title {
  margin: 0 0 10px 0;
  display: block;
  font-family: 'raleway', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
}
.header-slider-txt__subtitle {
  margin: 0 0 13px 0;
  font-family: 'raleway', sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
}
.header-slider-txt__desk {
  margin: 0 0 52px 0;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.header-slider-txt__btn {
  width: 170px;
  height: 53px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 9px;
  outline: none;
  font-family: 'raleway', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}
.header-slider-txt__btn:hover {
  background-color: #c7bbad;
}
.header-slider-pagination {
  margin: 300px 0 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-slider-pagination__item {
  display: block;
  width: 11px;
  height: 11px;
  margin: 0 10px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #ffffff;
  border: 2px solid transparent;
}
.header-slider-pagination__item:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  transform: scale(1.2);
}
.main-features {
  padding: 80px 0 0 0;
  box-sizing: border-box;
}
.main-features-wrp {
  margin: 0 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-features-wrp_card {
  min-height: 227px;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-features-wrp_card::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.main-features-wrp_card:hover .main-features-wrp_card__icon {
  fill: #c7b299;
}
.main-features-wrp_card:hover .main-features-wrp_card__title {
  color: #c7b299;
}
.main-features-wrp_card:hover::after {
  background-color: #c7b299;
}
.main-features-wrp_card__icon {
  margin: 0 0 29px 0;
  width: 52px;
  height: 44px;
  fill: #555555;
}
.main-features-wrp_card__title {
  font-family: 'raleway', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}
.main-features-wrp_card__text {
  margin: 19px 0 30px 0;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
}
.main-realization {
  padding: 83px 0 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfaf8;
}
.main-realization-wrp {
  position: relative;
}
.main-realization-title {
  margin: 0 0 24px 0;
  font-family: 'raleway', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}
.main-realization-text {
  display: block;
  margin: 0 0 40px 0;
  width: 757px;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}
.main-realization-scr {
  position: relative;
  display: flex;
  margin: 0;
  z-index: 3;
  transition: top 700ms ease-out, transform 1s ease-out;
}
.main-realization-scr img {
  height: 100%;
}
.position1 {
  position: absolute;
  z-index: 2;
  top: 82px;
  left: -230px;
}
.position1:hover {
  z-index: 3;
  transform: scale(1.2);
  top: 42px;
}
.position2 {
  position: absolute;
  z-index: 1;
  top: 82px;
  left: 230px;
}
.position2:hover {
  z-index: 3;
  transform: scale(1.2);
  top: 41px;
}
.main-advertising {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  width: 100%;
  background-image: url(../img/background_ad.png);
}
.main-advertising-wrp {
  display: flex;
  flex-direction: column;
  width: 530px;
}
.main-advertising-wrp_title {
  margin: 0;
  width: 100%;
  font-family: 'raleway', sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
.main-advertising-wrp_title__first {
  color: #c7b299;
}
.main-advertising-wrp_text {
  display: block;
  margin: 8px 0 0 0;
  font-family: 'montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}
.main-advertising-purchase {
  width: 170px;
  height: 50px;
  margin: 0 0 0 470px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 9px;
  outline: none;
  font-family: 'raleway', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}
.main-advertising-purchase:hover {
  background-color: #c7bbad;
}
.main-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-projects-title {
  margin: 81px 0 24px 0;
  font-family: 'raleway', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}
.main-projects-text {
  margin: 0 0 40px 0;
  width: 40%;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}
.main-projects-menu {
  margin: 0 0 40px 0;
}
.main-projects-menu__btn {
  margin: 0 10px 0 0;
  padding: 0;
  height: 32px;
  border: 1px solid #ebebeb;
  background-color: rgba(17, 17, 17, 0);
  border-radius: 3px;
  outline: none;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
}
.main-projects-menu__btn:first-child {
  width: 70px;
}
.main-projects-menu__btn:nth-child(2) {
  width: 120px;
}
.main-projects-menu__btn:nth-child(3) {
  width: 120px;
}
.main-projects-menu__btn:nth-child(4) {
  width: 120px;
}
.main-projects-menu__btn:last-child {
  width: 135px;
  margin: 0;
}
.main-projects-menu__btn:hover {
  background-color: #998675;
  color: #ffffff;
}
.main-projects-menu__btn:active {
  background-color: rgba(17, 17, 17, 0);
  color: #8c8c8c;
}
.main-projects-cards {
  margin: 0 0 10px 0;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-projects-cards_card {
  width: 370px;
  margin: 0 30px 30px 0;
  position: relative;
}
.main-projects-cards_card:hover .main-projects-cards_card__link {
  display: block;
}
.main-projects-cards_card:hover .main-projects-cards_card__search {
  display: block;
}
.main-projects-cards_card:hover .main-projects-cards_card__link:hover .main-projects-cards_card__link-icon {
  fill: #c7b299;
}
.main-projects-cards_card:hover .main-projects-cards_card__link:active .main-projects-cards_card__link-icon {
  fill: #ffd700;
}
.main-projects-cards_card:hover .main-projects-cards_card__search:hover .main-projects-cards_card__search-icon {
  fill: #c7b299;
}
.main-projects-cards_card:hover .main-projects-cards_card__search:active .main-projects-cards_card__search-icon {
  fill: #ffd700;
}
.main-projects-cards_card:hover .main-projects-cards_card__photo {
  filter: brightness(20%);
}
.main-projects-cards_card:hover .main-projects-cards_card__txt-wrp {
  background-color: #362f2d;
}
.main-projects-cards_card:hover .main-projects-cards_card__txt-wrp::before {
  border-bottom: 10px solid #362f2d;
}
.main-projects-cards_card:hover .main-projects-cards_card__txt-wrp_title {
  color: #ffffff;
}
.main-projects-cards_card:hover .main-projects-cards_card__txt-wrp_text {
  color: #c7b299;
}
.main-projects-cards_card__photo {
  display: block;
  width: 100%;
}
.main-projects-cards_card__txt-wrp {
  position: relative;
  width: 100%;
  padding: 30px 0 27px 0;
  box-sizing: border-box;
  background-color: #fbfaf8;
}
.main-projects-cards_card__txt-wrp_title {
  display: block;
  padding: 0 0 0 28px;
  box-sizing: border-box;
  margin: 0px 0 14px 0;
  font-family: 'raleway', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
}
.main-projects-cards_card__txt-wrp_text {
  display: block;
  padding: 0 0 0 28px;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}
.main-projects-cards_card__txt-wrp::before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -20px;
  left: 19px;
}
.main-projects-cards_card__link,
.main-projects-cards_card__search {
  width: 26px;
  height: 25px;
  padding: 0;
  display: none;
  border: none;
  outline: none;
  position: absolute;
  background-color: transparent;
  top: 29%;
}
.main-projects-cards_card__search {
  right: 39%;
}
.main-projects-cards_card__search-icon {
  fill: #ffffff;
}
.main-projects-cards_card__link {
  left: 36%;
}
.main-projects-cards_card__link-icon {
  fill: #ffffff;
}
.main-projects-btn {
  width: 170px;
  height: 50px;
  margin: 0 0 80px 0;
  background-color: #998675;
  box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 9px;
  outline: none;
  font-family: 'raleway', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}
.main-projects-btn:hover {
  background-color: #c7bbad;
}
.main-video {
  position: relative;
  height: 705px;
}
.main-video-item {
  width: 100%;
  height: 100%;
}
.main-video-wrp {
  position: absolute;
  width: 552px;
  top: 50%;
  left: 50%;
  margin-left: -276px;
  margin-top: -147px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-video-wrp__btn {
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.main-video-wrp__btn:hover .main-video-wrp__btn-icon {
  fill: #c7b299;
}
.main-video-wrp__btn:active .main-video-wrp__btn-icon {
  fill: #ffd700;
}
.main-video-wrp__btn-icon {
  margin: auto;
  fill: #ffffff;
}
.main-video-wrp__title {
  font-family: 'raleway', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}
.main-video-wrp__text {
  margin: 0 0 40px 0;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
}
.main-video-wrp__time {
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}
.main-mobile {
  min-height: 695px;
  background-image: url(../img/mobile_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 423px;
}
.main-mobile-wrp__title {
  margin: 0 0 40px 0;
  font-family: 'raleway', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}
.main-mobile-wrp__text {
  display: block;
  width: 657px;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}
