@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff'), url('../fonts/raleway-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-medium.woff2') format('woff2'), url('../fonts/raleway-medium.woff') format('woff'), url('../fonts/raleway-medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-semibold.woff2') format('woff2'), url('../fonts/raleway-semibold.woff') format('woff'), url('../fonts/raleway-semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-bold.woff2') format('woff2'), url('../fonts/raleway-bold.woff') format('woff'), url('../fonts/raleway-bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-extrabold.woff2') format('woff2'), url('../fonts/raleway-extrabold.woff') format('woff'), url('../fonts/raleway-extrabold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-regular.woff2') format('woff2'), url('../fonts/roboto-regular.woff') format('woff'), url('../fonts/roboto-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-extralight.woff2') format('woff2'), url('../fonts/montserrat-extralight.woff') format('woff'), url('../fonts/montserrat-extralight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-light.woff2') format('woff2'), url('../fonts/montserrat-light.woff') format('woff'), url('../fonts/montserrat-light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff'), url('../fonts/montserrat-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1920px;
  margin: 0 auto;
}
.header {
  min-height: 1024px;
  display: block;
  background-image: url(../img/header_bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.header-top {
  width: 100%;
  padding: 40px 0 0 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-top-logo {
  text-decoration: none;
  display: block;
  width: 181px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header-top-logo:hover .header-top-logo-icon {
  fill: #c7b299;
}
.header-top-logo:hover .header-top-logo-txt {
  color: #c7b299;
}
.header-top-logo:active .header-top-logo-icon {
  fill: #ffd700;
}
.header-top-logo:active .header-top-logo-txt {
  color: #ffd700;
}
.header-top-logo-icon {
  fill: currentColor;
}
.header-top-logo-txt {
  font-family: 'raleway', sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.header-top-menu {
  display: block;
  margin: 0 63px 0 219px;
}
.header-top-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  font-family: 'montserrat', sans-serif;
}
.header-top-menu-list-item {
  display: block;
  margin: 0 30px 0 0;
}
.header-top-menu-list-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}
.header-top-menu-list-item-link:hover {
  color: #c7b299;
}
.header-top-menu-list-item-link:active {
  color: #ffd700;
}
.header-top-menu-list-item:last-child {
  margin: 0;
}
.header-top-basket {
  outline: none;
  padding: 0;
  border: 0;
  background: transparent;
}
.header-top-basket-icon {
  fill: #fff;
}
.header-top-basket:hover .header-top-basket-icon {
  fill: #c7b299;
}
.header-top-basket:active .header-top-basket-icon {
  fill: #ffd700;
}
.header-top-search {
  margin: 0 0 0 28px;
  position: relative;
}
.header-top-search__label {
  display: block;
  width: 100%;
  height: 100%;
}
.header-top-search__icon {
  fill: #fff;
}
.header-top-search__label:hover .header-top-search__icon {
  fill: #c7b299;
}
.header-top-search__label:active .header-top-search__icon {
  fill: #ffd700;
}
.header-top-search__input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50px;
  left: -50px;
  font-size: 16px;
  color: #fff;
  font-family: 'montserrat', sans-serif;
  text-transform: capitalize;
}
.header-top-search__input:focus {
  width: 150px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
}
.header-top-search__input:focus ~ .header-top-search__label > .header-top-search__icon {
  fill: #ffd700;
}
.header-slider {
  margin: 285px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header-slider-btn {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
}
.header-slider-btn:hover .header-slider-btn__icon {
  fill: #d3c1ad ;
}
.header-slider-btn:active .header-slider-btn__icon {
  fill: #ffd700;
}
.header-slider-btn__icon {
  fill: #fff;
}
.header-slider-txt {
  margin: 0 476px 0 476px;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.header-slider-txt__title {
  margin: 0 0 10px 0;
  display: block;
  font-family: 'raleway', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
}
.header-slider-txt__subtitle {
  margin: 0 0 13px 0;
  font-family: 'raleway', sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
}
.header-slider-txt__desk {
  margin: 0 0 52px 0;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.header-slider-txt__btn {
  width: 170px;
  height: 53px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 9px;
  outline: none;
  font-family: 'raleway', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}
.header-slider-txt__btn:hover {
  background-color: #c7bbad;
}
.header-slider-pagination {
  margin: 300px 0 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-slider-pagination__item {
  display: block;
  width: 11px;
  height: 11px;
  margin: 0 10px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #ffffff;
  border: 2px solid transparent;
}
.header-slider-pagination__item:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  transform: scale(1.2);
}
