.container{
  width: 1920px;
  margin: 0 auto;
}
.header{
  min-height: 1024px;
  background-color: black;
  
  &-top{
    width: 100%;
    display: flex;
  }
  
  &-logo{

    &-txt{
      font-family: "raleway";
      font-size: 34px;
      line-height: 1.2;
      font-weight: 400;
      letter-spacing: -0.04em;
      color: #ffffff;
    }
  }
}
