.main-mobile{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 695px;
  background-image: url(../img/mobile_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 423px;

  &-wrp{
    width: 657px;
    margin-right: 388px;

    &__title{
      width: 100%;
      font-family: 'raleway', sans-serif;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 600;
      color: #555555;
    }

    &__text{
      margin: 40px 0 45px 0;
      display: block;
      width: 657px;
      font-family: 'montserrat', sans-serif;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: #8c8c8c;
    }

    &__list{
      margin: 0 0 0 100px;
      width: 546px;
      list-style-type: none;
      padding: 0;
      

      &_item{
        position: relative;
        font-family: 'montserrat',sans-serif;
        font-size: 16px;
        line-height: 32px;
        font-weight: 300;
        color: #8c8c8c;

        &::before{
          position: absolute;
          top: 6px;
          left: -40px;
          content: "";
          width: 21px;
          height: 21px;
          background-image: url(../img/mobile_list_item_icon.png);
        }

      }
    }
  }
}