.main-posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &-title{
    margin: 82px 0 30px 0;
    font-family: 'raleway',sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
  }

  &-text{
    width: 39.5%;
    margin: 0 0 40px 0;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
  }

  &-cards{

    &__card{
      width: 370px;
      display: flex;
      flex-direction: column;

      &_photo{
        width: 100%;
        height: 220px;

      }

      &-wrp{

        &_title{
          margin: 0 0 19px 0;
          font-family: 'raleway',sans-serif;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 500;
          color: #555555;
  
        }
  
        &_text{
          width: 297px;
          font-family: 'montserrat',sans-serif;
          font-size: 14px;
          line-height: 22px;
          font-weight: 300;
          color: #8c8c8c;
  
        }

      }
    }
  }
}